[%% logging
 %% (levels: debug, info, notice, warning, error, critical, alert, emergency)
 {lager,
  [{crash_log, "priv/log/crash.log"},
   {handlers,
    [{lager_file_backend, [{"priv/log/template.log", info, 10485760, "$D0", 5}]},
     {lager_console_backend,
      [debug, {lager_default_formatter,
               [time, " [", severity, "] ", pid,
                {module, [" ", module], ""},
                {function, [":", function], ""},
                {line, [":", line], ""},
                " ", message, "\n"
               ]}
      ]}
    ]}
  ]}
].
