[%% distribution
 {kernel,
  [%%{distributed, [{template, 5000, [template1@localhost, {template2@localhost, template3@localhost}]}]},
   %%{sync_nodes_mandatory, [template2@localhost, template3@localhost]},
   %%{sync_nodes_timeout, 15000}
  ]},

 %% logging
 {lager,
  [{handlers,
    [{lager_console_backend,
      [info, {lager_default_formatter,
              [time, " [", severity, "] ", pid,
               {module, [" ", module], ""},
               {function, [":", function], ""},
               {line, [":", line], ""},
               " ", message, "\n"
              ]}
      ]}
    ]}
  ]}
].
